ion-content {
  --background: linear-gradient(
      0deg,
      rgba(220, 207, 207, 0.7),
      rgba(0, 0, 0, 0.1)
    ),
    url("/assets/login.jpg") no-repeat center center / cover;
  .menu_login {
    padding-top: 50px;
    ion-item {
      ion-icon {
        color: white;
      }
      ion-input {
        margin-left: 10px;
      }
    }
  }
}
