#LOGIN
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Menu Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="menu_login">
    <ion-item lines="full">
      <ion-icon name="person-outline"></ion-icon>
      <ion-input
        placeholder="Username"
        type="text"
        [(ngModel)]="username"
        required="required"
      ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-icon name="key-outline"></ion-icon>
      <ion-input
        placeholder="Password"
        type="password"
        [(ngModel)]="password"
        required="required"
      >
      </ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          color="primary"
          expand="block"
          (click)="login()"
          >Login</ion-button
        >
      </ion-col>
    </ion-row>
  </div>
</ion-content>
